h1{
	color:#191919;
}

#qwe{
	width:100px;
	height:100px;
	background-image:url('images/album.png');
}

#asd{
	width:100px;
	height:100px;
	background-image:url('images/beijing4.png');
}