<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue</title>
	<script src = "../scripts/vue.js"></script>
	<script src = "../scripts/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/chrisvfritz/5f0a639590d6e648933416f90ba7ae4e/raw/98739fb8ac6779cb2da11aaa9ab6032e52f3be00/currency-validator.js"></script>
	<style>
		div{
			padding:10px;
		}
		.active{
			color:red;
		}
	</style>
</head>
<body>
	<h3><center>Vue Again - component</center></h3>
	<div id="app">
		<my-component></my-component>
		<div>
			<p>look here</p>
			<my-component></my-component>
		</div>
	</div>
	<div id="app2">
		<a-component></a-component>
	</div>
	<div id="app3">
		<table>
			<tr is="my-row"></tr>
		</table>
	</div>
	<div id="app4">
		<d-tem></d-tem>
	</div>
	<div id="app5">
		<parent></parent>
	</div>
	<div id="app6">
		<currency-input label="price" v-model="price"></currency-input>
		<currency-input label="Shipping" v-model="shipping"></currency-input>
		<currency-input label="Handling" v-model="handling"></currency-input>
		<currency-input label="Discount" v-model="discount"></currency-input>
		<p>Total: ${{total}}</p>
	</div>
	<div id="app7">
		<app-7 msg = "app7-1"></app-7>
		<app-7 msg = "app7-2"></app-7>
		<app-7 msg = "app7-3"></app-7>
	</div>
	<div id="app8">
		<div>
			<h1>i'm the parent title</h1>
			<my-component2>
				<p>This is some original content,it's show rely on child component</p>
			</my-component2>
		</div>
	</div>
	<div id="app9">
		{{message}}
		<keep-alive>
			<my-component3 :is="currentView"></my-component3>
		</keep-alive>
		
		<button @click="toggle">click</button>
	</div>
	<script>
		Vue.component('my-component',{
			template: '<div>A custom component!</div>'
		})
		var a = new Vue({
			el : '#app'
		})
		var Child = {
			template: '<div>A child component</div>'
		}
		var b = new Vue({
			el: '#app2',
			components:{
				'a-component':Child
			}
		})
		var row = {
			template: '<tr>jesea</tr>'
		}
		var c = new Vue({
			el : '#app3',
			components: {
				'my-row' : row
			}
		})
		var d1 = {
			data: function(){
				return {
					data1: 'hello walter'
				}
			},
			props: ['msg'],
			template: '<span>here is child component<br><i>{{msg}}</i><br>{{data1}}</span>'
		}
		Vue.component('d-tem',{
			data: function(){
				return {
					message: 'parent data,I have change'
				}
			},
			template: '<p>here is parent component<br><span>{{message}}</span><br><dd-tem :msg="message"></dd-tem></p>',
			components: {
				'dd-tem': d1
			}
		})
		/*Vue.component('dd-tem',{
			data: function(){
				return {
					data1: 'hello'
				}
			},
			props: ['msg'],
			template: '<span>here is child component<br><i>{{msg}}</i><br>{{data1}}</span>'
		})*/
		var d = new Vue({
			el: '#app4'
		})
		var child = {
			template: '<button @click="increment">{{counter}}</button>',
			data: function(){
				return {
					counter: 0
				}
			},
			methods: {
				increment: function(){
					this.counter +=1;
					this.$emit('clickP')
				}
			}
		}
		var parent = {
			template: 	'<div>\
							<p>{{total}}</p>\
							<button-counter @clickP="incrementTotal"></button-counter>\
							<button-counter @clickP="incrementTotal"></button-counter>\
						</div>',
			data: function(){
				return {
					total: 0
				}
			},
			methods: {
				incrementTotal: function(){
					this.total +=1
				}
			},
			components: {
				'button-counter' : child
			}
		}
		
		var e = new Vue({
			el: '#app5',
			components: {
				'parent' : parent
			}
		})
		Vue.component('currency-input',{
			template: '<div><label v-if="label">{{label}}</label>$<input ref="input" v-bind:value="value" v-on:input="updateValue($event.target.value)" v-on:focus="selectAll" v-on:blur="formatValue"></div>',
			props: {
				value: {
					type: Number,
					default: 0
				},
				label: {
					type: String,
					default: false
				}
			},
			mounted: function(){
				this.formatValue()
			},
			methods: {
				updateValue: function(value){
					var result = currencyValidator.parse(value,this.value);
					if(result.warning){
						this.$refs.input.value = result.value;
					}
					this.$emit('input',result.value)
				},
				formatValue: function(){
					this.$refs.input.value = currencyValidator.format(this.value)
				},
				selectAll: function(event){
					setTimeout(function(){
						event.target.select()
					},0)
				}
			}
		})
		var f = new Vue({
			el: '#app6',
			data: {
				price: 0,
				shipping: 0,
				handling: 0,
				discount: 0
			},
			computed: {
				total: function(){
					return ((
						this.price*100 +
						this.shipping*100 + 
						this.handling*100 - 
						this.discount*100)/100).toFixed(2)
				}
			}
		})
		Vue.component('app-7',{
			template: '<div><label>{{msg}}</label></div>',
			props: ['msg']
		})
		var g = new Vue({
			el: '#app7'
		})
		Vue.component('my-component2',{
			template: '<div>\
						<h2>I"m the child title</h2>\
						<slot>\
							如果没有分发内容则显示\
						</slot>\
					</div>'

		})
		var h = new Vue({
			el: '#app8'
		})
		var i = new Vue({
			el: '#app9',
			data: {
				message: 'nihao',
				current: true
			},
			computed: {
				currentView: function(){
					return (this.current ? 'post' : 'home')
					/*return 'post'*/
				}
			},
			created: function(){
				this.toggle();
			},
			methods: {
				toggle: function(){
					this.current = !this.current;
					/*this.message = 'hello'*/
				}
			},
			components: {
				home: {
					template: '<div>home 组件</div>'
				},
				post: {
					template: '<div><div>post 组件</div></div>'
				}
			}
		})
	</script>
</body>
</html>