<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>表单控件绑定</title>
    <script src="../js/vue.js"></script>
    <script src="../js/jquery.min.js"></script>
    <style>
    	.test{
    		margin:20px 0;
    	}
    </style>
</head>

<body>
    <div class = "test" id="test1">
        <span>Message is:{{ message }}</span>
        <input type="text" v-model="message" placeholder="edit me">
        <span>Message is: {{ message }}</span>
        <br>
        <input type="text" v-model="message" placeholder="edit me">
    </div>
    <script>
    $(function() {
    	var vm1 = new Vue({
    		el : '#test1',
    		/*data : {
    			message : 'nihao'
    		}*/
    	})
    })
    </script>
    <div class = "test" id="test2">
    	<input type="checkbox" v-model = "checked">
    	<label for="checkbox">{{checked}}</label>
    </div>
    <script>
    	$(function(){
    		var vm2 = new Vue({
    			el : '#test2'
    		})
    	})
    </script>
    <div class="test" id="test3">
    	<input type="radio" value = "one" v-model = "picked">
    	<label for="one">One</label>
    	<input type="radio" value = "two" v-model = "picked">
    	<label for="two">Two</label>
    	<br>
    	<span>Picked:{{picked}}</span>
    </div>
    <script>
    	$(function(){
    		var vm3 = new Vue({
    			el : '#test3'
    		})
    	})
    </script>
    <div id="test4" class="test">
    	<select v-model = "selected">
    		<option v-for = "option in options" v-bind:value = "option.value">
    			{{option.text}}
    		</option>
    	</select>
    	<span>Selected:{{selected}}</span>
    </div>
    <script>
    	$(function(){
    		var vm4 = new Vue({
    			el : '#test4',
    			data : {
    				selected:'a',
    				options:[{
    					text:'1',
    					value:'a'
    				},{
    					text:'2',
    					value:'b'
    				},{
    					text:'2',
    					value:'c'
    				},{
    					text:'2',
    					value:'c'
    				}]
    			}
    		})
    	})
    </script>
</body>

</html>
